body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}


.project-container {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}


/* Main content */
.main-content {
    margin-top: 6rem;
    padding: 1rem 8rem;
    max-height: max-content;
    background-color: ghostwhite;
    flex-direction: column;
    display: flex;
    height: 100%;
}


/* Canvas style */

.canvas {
    border: 1px solid #000;
}

/* Project specific */
